.title {
  color: pink;
}

.houseContainer {
  width: 310px;
  height: 310px;
  display: flex;
  margin: 15px auto;
}

@media screen and (min-width: 600px) {
  .houseContainer {
    width: 600px;
    height: 600px;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 310px;
  margin: 10px auto;
  justify-content: space-between;
}

@media screen and (min-width: 600px) {
  .buttons {
    width: 600px;
  }
}

.clickableElement:hover {
  fill: #12ccb4;
  cursor: pointer;
}

.clickableElement:hover rect {
  fill: #12ccb4;
}

.clickableElement:hover path {
  fill: #12ccb4;
}

.clickableElement:hover polygon {
  fill: #12ccb4;
}

.clickableElement:hover circle {
  fill: #12ccb4;
}

.logoContainer {
  fill: url("../../assets/logo.png");
}
