.title {
  color: pink;
}

.houseContainer {
  height: 600px;
  width: 600px;
  display: flex;
  margin: 15px auto;
}

.buttons {
  display: flex;
  width: 600px;
  margin: 10px auto;
  justify-content: space-between;
}

.clickableElement:hover {
  fill: #12ccb4;
  cursor: pointer;
}

.clickableElement:hover rect {
  fill: #12ccb4;
}

.clickableElement:hover path {
  fill: #12ccb4;
}

.clickableElement:hover polygon {
  fill: #12ccb4;
}

.clickableElement:hover circle {
  fill: #12ccb4;
}

.logoContainer {
  fill: url("../../assets/logo.png");
}