.pageTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin: 0;
  font-size: 20px;
  line-height: 28px;
}

.subTitle {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  font-size: 10px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  padding: 16px;
  margin: 5px;
  width: 450px;
  border: 1px solid #ecedf0;    
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 8%);
  box-sizing: border-box;
  background-color: #fff;
  text-decoration: none;
  outline: none;
  overflow: hidden;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 5%;
}

.cards2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 5%;
}

.cardTitle {
  font-size: 10px;
  overflow: hidden;
  padding: 5%;
}

.chainSaw {
  width: 145px;
  height: auto;
}

.timberpro {
  width: 110px;
  height: auto;
}

.rightSide {
  display: flex;
  flex-direction: column;
}

.images {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.starsImg {
  width: 40%;
  padding: 5%;
}

.price {
  width: 30%;
  padding: 5%;
}

.filterImg {
  border-radius: 90px;
  width: 5%;
  margin-top: 10px;
  position: relative;
}

.imexBrand {
  width: 90px;
  height: auto;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 500px)  {
  .cards {
    display: flex;
    flex-direction: column;
    max-width: 10vh;
  }

  .cards2 {
    display: flex;
    flex-direction: column;
    max-width: 10vh;
  }

  .filterImg {
    width: 10vh;
    height: auto;
  }

  .pageTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 68vh;
  }
}