.header {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100vw;
}

.myAccount {
  margin-right: 10px;
  height: 40px;
  width: 35px;
}

.hexagonNormal {
  position: relative;
  width: 40px; 
  height: 23.09px;
  background-color: #204a87;
  margin: 11.55px 0;
}
.hexagonNormal:before,
.hexagonNormal:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.hexagonNormal:before {
  bottom: 100%;
  border-bottom: 11.55px solid #204a87;
}

.hexagonNormal:after {
  top: 100%;
  width: 0;
  border-top: 11.55px solid #204a87;
}
.hexagonPro {
  position: relative;
  width: 40px; 
  height: 23.09px;
  background-color: orange;
  margin: 11.55px 0;
}
.hexagonPro:before,
.hexagonPro:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.hexagonPro:before {
  bottom: 100%;
  border-bottom: 11.55px solid orange;
}

.hexagonPro:after {
  top: 100%;
  width: 0;
  border-top: 11.55px solid orange;
}

.filler {
  border: 1px solid black;
  width: 12vh;
  height: 30px;
  background-color: darkgrey;
  position: fixed;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 5px;
  transition: all 0.3s linear;
}
.linkContainer {
  display: flex;
  justify-content: space-evenly;
  width: 60vw;
  margin-left: 20vh;
}

.links {
  color: red;
  display: flex;
  justify-content: space-around;
}

.button {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 5px;
}

.headerFirstLine {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
}

.headerSearchForm {
  -webkit-flex: 1 1;
  flex: 1 1;
  position: relative;
  width: 100%;
  height: 44px;
  padding-left: 16px;
  padding-right: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: 16px;
  color: #0c193a;
  text-overflow: ellipsis;
  background-color: #fafafa;
  border: 1px solid #d8dadf;
  border-radius: 22px;
  margin-left: 15vh;
}

.headerConnectBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}


@media screen and (min-width: 600px) {
  .headerConnectBlock {
    margin-left: 40px;
  }
}

.headerConnectBlock p {
  margin: 0;
  text-align: left;
  color: gray;
}

.headerBonjour {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 134px;
}

.headerConnectezVous {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.headerCartLogo {
  height: 20px;
  width: 20px;
  padding: 10px;
}
